<div id="main">
  <table cellspacing="0" id="summary">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Local URL</th>
        <th>Remote URL</th>
        <th>Rails Root</th>
        <th>Server</th>
        <th>Env</th>
        <th>Last Run</th>
        <th>&nbsp;</th>
      </tr>
    </thead>
    
    <tbody>
      <tr class="running">
        <td class="name">Project Name</td>
        <td><a href="#">http://localhost:3001</a></td>
        <td><a href="#">http://legion:3001</a></td>
        <td>/Users/rob/Sites/project</td>
        <td>Mongrel 1.1</td>
        <td>Dev (<a href="#">log</a>)</td>
        <td>Today, 3:32pm</td>
        <td class="button"><input type="button" value="Stop" /></td>
      </tr>
      <tr class="stopped">
        <td class="name">Project Name</td>
        <td><a href="#">http://localhost:3001</a></td>
        <td><a href="#">http://legion:3001</a></td>
        <td>/Users/rob/Sites/project</td>
        <td>Mongrel 1.1</td>
        <td>
          <select>
            <option>Dev</option>
            <option>Test</option>
            <option>Prod</option>
          </select>
          (<a href="#">log</a>)</td>
        <td>Today, 3:32pm</td>
        <td class="button"><input type="button" value="Start" /></td>
      </tr>
      <tr class="starting">
        <td class="name">Project Name</td>
        <td><a href="#">http://localhost:3001</a></td>
        <td><a href="#">http://legion:3001</a></td>
        <td>/Users/rob/Sites/project</td>
        <td>Mongrel 1.1</td>
        <td>Dev (<a href="#">log</a>)</td>
        <td>Today, 3:32pm</td>
        <td class="button"><input type="button" value="Starting..." disabled="disabled" /></td>
      </tr>
      <tr class="error">
        <td class="name">Project Name</td>
        <td><a href="#">http://localhost:3001</a></td>
        <td><a href="#">http://legion:3001</a></td>
        <td>/Users/rob/Sites/project</td>
        <td>Mongrel 1.1</td>
        <td>
          <select>
            <option>Dev</option>
            <option>Test</option>
            <option>Prod</option>
          </select>
          (<a href="#">log</a>)</td>
        <td>Today, 3:32pm</td>
        <td class="button"><input type="button" value="Start" /></td>
      </tr>
    </tbody>
  </table>
</div>