<table cellspacing="0" id="summary">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Local URL</th>
      <th>Remote URL</th>
      <th>Rails Root</th>
      <th>Env</th>
      <th>Last Run</th>
      <th>&nbsp;</th>
    </tr>
  </thead>
  
  <tbody>
    <% @projects.each_with_index do |project,index| %>
      <%= render :partial => 'compact_project', :locals => { :project => project, :system => @system } %>
    <% end %>
  </tbody>
  
</table>

<%= render :partial => 'polling_script', :locals => { :projects => @projects, :system => @system } %>
