<% @projects.each_with_index do |project,index| %>
  <% if index % 2 == 0 %>
    <div class="row">
  <% end %>

  <%= render :partial => 'extended_project', :locals => { :project => project } %>
  
  <% if index % 2 == 1 || project == @projects.last%>
    </div>
  <% end %>
<% end %>

<%= render :partial => 'polling_script', :locals => { :projects => @projects, :system => @system } %>
