<div id="main">
  <div id="project_1" class="project running">
    <h2>Project Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <table cellspacing="0" class="stats">
      <tr>
        <td class="label">Local URL</td>
        <td><a href="#">http://localhost:3001</a></td>
      </tr>
      <tr>
        <td class="label">Remote URL</td>
        <td><a href="#">http://legion:3001</a></td>
      </tr>
      <tr>
        <td class="label">Rails Root</td>
        <td>/Users/rob/sites/project</td>
      </tr>
      <tr>
        <td class="label">Web Server</td>
        <td>Mongrel 1.1</td>
      </tr>
      <tr>
        <td class="label">Environment</td>
        <td>Development (<a href="#">log</a>)</td>
      </tr>
      <tr class="last">
        <td class="label">Last Started</td>
        <td>Today at 4:15pm</td>
      </tr>
    </table>
    <form>
      <input type="button" value="Stop" />
    </form>
  </div>
  
  <div id="project_2" class="project stopped">
    <h2>Project Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <table cellspacing="0" class="stats">
      <tr>
        <td class="label">Local URL</td>
        <td><a href="#">http://localhost:3001</a></td>
      </tr>
      <tr>
        <td class="label">Remote URL</td>
        <td><a href="#">http://legion:3001</a></td>
      </tr>
      <tr>
        <td class="label">Rails Root</td>
        <td>/Users/rob/sites/project</td>
      </tr>
      <tr>
        <td class="label">Web Server</td>
        <td>Mongrel 1.1</td>
      </tr>
      <tr>
        <td class="label">Environment</td>
        <td>
          <select>
            <option>Development</option>
            <option>Test</option>
            <option>Production</option>
          </select>
          (<a href="#">log</a>)</td>
      </tr>
      <tr class="last">
        <td class="label">Last Started</td>
        <td>Today at 4:15pm</td>
      </tr>
    </table>
    <form>
      <input type="button" value="Start" />
    </form>
  </div>
  
  <div id="project_3" class="project starting">
    <h2>Project Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <table cellspacing="0" class="stats">
      <tr>
        <td class="label">Local URL</td>
        <td><a href="#">http://localhost:3001</a></td>
      </tr>
      <tr>
        <td class="label">Remote URL</td>
        <td><a href="#">http://legion:3001</a></td>
      </tr>
      <tr>
        <td class="label">Rails Root</td>
        <td>/Users/rob/sites/project</td>
      </tr>
      <tr>
        <td class="label">Web Server</td>
        <td>Mongrel 1.1</td>
      </tr>
      <tr>
        <td class="label">Environment</td>
        <td>Development (<a href="#">log</a>)</td>
      </tr>
      <tr class="last">
        <td class="label">Last Started</td>
        <td>Today at 4:15pm</td>
      </tr>
    </table>
    <form>
      <input type="button" value="Starting..." disabled="disabled" />
    </form>
  </div>
  
  <div id="project_4" class="project error">
    <h2>Project Name</h2>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
    <table cellspacing="0" class="stats">
      <tr>
        <td class="label">Local URL</td>
        <td><a href="#">http://localhost:3001</a></td>
      </tr>
      <tr>
        <td class="label">Remote URL</td>
        <td><a href="#">http://legion:3001</a></td>
      </tr>
      <tr>
        <td class="label">Rails Root</td>
        <td>/Users/rob/sites/project</td>
      </tr>
      <tr>
        <td class="label">Web Server</td>
        <td>Mongrel 1.1</td>
      </tr>
      <tr>
        <td class="label">Environment</td>
        <td>
          <select>
            <option>Development</option>
            <option>Test</option>
            <option>Production</option>
          </select>
          (<a href="#">log</a>)</td>
      </tr>
      <tr class="last">
        <td class="label">Last Started</td>
        <td>Today at 4:15pm</td>
      </tr>
    </table>
    <form>
      <input type="button" value="Start" />
    </form>
  </div>
</div>