body {
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	color: #333333;
	background-color: #eeeeee;
	margin: 10px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: Georgia, Times New Roman, serif;
}

a {
	color: #416ab5;
}

a:hover {
	background-color: #DFEBFF;
	text-decoration: none;
}

th {
		border-bottom: 3px double #cccccc;
	}

#header {
	width: 970px;
	margin: 0 auto;
}

#logo {
	width: 300px;
	padding: 0;
	float: left;
	border-bottom: 1px solid #cccccc;
}

	#logo img {
		margin: 0;
		padding: 0;
		display: block;
		border: 0;
	}

ul#tabs {
	width: 650px;
	float: right;
	text-align: right;
	font-size: 80%;
	margin: 90px auto 0;
	padding: 0 10px 7px;
	border-bottom: 1px solid #cccccc;
}

	ul#tabs li {
		display: inline;
		border: 1px solid #cccccc;
		padding: 4px 10px 6px;
	}
	
	ul#tabs li a {
		text-decoration: none;
		color: #999999;
	}
	
	ul#tabs li a:hover {
		background-color: transparent;
	}
	
	ul#tabs li.active {
		border-bottom: 1px solid #ffffff;
		background-color: #ffffff;
		font-weight: bold;
	}

		ul#tabs li.active a {
			color: #333333;
			}

#main {
	width: 970px;
	border: 1px solid #cccccc;
	border-top: 0;
	margin: 0 auto;
	padding: 0 0 20px;
	overflow: auto;
	background-color: #ffffff;
	clear: both;
}
	
#save {
	border-top: 2px dotted #cccccc;
	margin: 1em 0 0;
	padding: 1em 0 0;
	text-align: center;
	font-size: 90%;
	clear: both;
}

#errorExplanation {
	margin: 1em;
	padding: 1em;
	background-color: #990000;
	color: #ffffff;
	font-size: 90%;
}

	#errorExplanation h2 {
		margin: 0 0 1em 0;
		font-size: 120%;
		text-align: center;
	}
	
	#errorExplanation ul {
		list-style-type: square;
		padding: 1em 1em 0;
	}


h1 {
	margin: .5em;
	padding: 0;
	font-size: 200%;
	font-weight: normal;
	color: #336699;
	text-align: center;
}

form {
	margin: 0 1em 0;
	overflow: auto;
}

form div.input {
	overflow: hidden;
	margin: .2em 0;
	background-color: #eeeeee;
	padding: 1em;
}

label {
	display: block;
	float: left;
	width: 10em;
	text-align: right;
	margin: .35em .2em 0;
	font-weight: bold;
}

input[type="text"], select {
	display: block;
	float: left;
	font-size: 110%;
	width: 12em;
	margin: 0 1em 0 .2em;
}

textarea {
	height: 8em;
	width: 30em;
	font-family: Lucida Grande, Helvetica, Arial, sans-serif;
	font-size: 110%;
	}


span {
	font-family: Georgia, Times New Roman, serif;
	display: block;
	padding: 0;
	font-size: 90%;
	color: #999999;
	line-height: 1.2;
}

input[type="submit"] {

}

/*
<div class="errorExplanation" id="errorExplanation">
	<h2>1 error prohibited this system from being saved</h2>
	<p>There were problems with the following fields:</p>
	<ul><li>Port is not a number</li></ul>
</div>
*/