<h1>New Project</h1>

<%= error_messages_for :project %>

<% form_for :project, :url => { :action => 'create' } do |form| %>

  <%= render partial => 'form', :locals => { :form => form, :project => project } %>

  <div id="save">
    <%= submit_tag 'Save Settings' %> or <%= link_to 'Cancel', :controller => 'dashboard' %>
  </div>

<% end %>